/* CSS declarations go here */
/*main theme color  #02B875*/
.heading{
  color: #02B875;
  font-size: 40px;
}
.navbar-default .navbar-left > li > a {
    color: #02B875;
}
.jumbotron p {
  font-size: 17px;
  color: grey
}
.content{
  text-align: center;
  width: 800px;
  min-height: 200px;
}
.content h3{
  color: #02B875;
}
.panel-default {
    background-color: #02B875;
    border-color: #02B875;
}
.panel-default .btn{
    background-color: #02B875;
    border-color: #02B875;
    color: white
}
.channelLink > li > a{
  color: #02B875
}
.inputArea{
  margin-left: 200px
}
#my_msg_submit {
  background-color: white;
  color: #02B875;
  border-color: #02B875;
}
#my_msg{
  margin-left: -130px;
  width: 500px;
}
.feedName{
  color:#02B875;
}
.messageUser{
  color:#02B875;
}
