<template name="feed">
  <nav class='navbar navbar-default'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a href={{pathFor 'home'}} class="navbar-brand">Community Chat</a>
      </div>
      <ul class='nav navbar-nav navbar-left'>
        {{#if currentUser}}
         <li><a href=''>Profile</a></li>
         {{#with uniqueId}}
         <li><a href={{pathFor 'feed' _id=_id}}>Feed</a></li>
         {{/with}}
         {{#if isInRole 'admin'}}
          <li><a href={{pathFor 'dashboard'}}>Dashboard</a></li>
         {{/if}}
         <!-- <li><a href='#' id='loggedOut'>Log Out</a></li> -->
         {{else}}
         <li><a href={{pathFor 'register'}}>Register</a></li>
         <li><a href={{pathFor 'login'}}>SignIn</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked channelLink">
          {{#each userFeed}}
            <li><a href={{pathFor 'userFeed' feed=feed}}>{{feed}}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="col-lg-9">
        {{> Template.dynamic template=messageFeed}}
      </div>
    </div>
  </div>
</template>
