<template name="home">
  <nav class='navbar navbar-default'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="" class="navbar-brand">Community Chat</a>
      </div>
      <ul class='nav navbar-nav navbar-left'>
        {{#if currentUser}}
         {{#with uniqueId}}
         <li><a href={{pathFor 'userProfile' username=username _id=this._id}}>Profile</a></li>
         <li><a href={{pathFor 'feed'}}>Feed</a></li>
         {{/with}}
         {{#if isInRole 'admin'}}
          <li><a href={{pathFor 'dashboard'}}>Dashboard</a></li>
         {{/if}}
         <li><a href='#' id='loggedOut'>Log Out</a></li>
         {{else}}
         <li><a href={{pathFor 'register'}}>Register</a></li>
         <li><a href={{pathFor 'login'}}>SignIn</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="jumbotron">
      <h3><span class="heading">C</span>onnect,<span class="heading">S</span>hare</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officiis provident sunt eius sed labore nulla ex inventore. Vitae eligendi itaque cumque consectetur! Maiores qui dolor natus impedit saepe ducimus!</p>
    </div>
  </div>
  <div class="container">
    {{# if currentUser}}
      {{> homeContent}}
        {{else}}
          {{> homeContent}}
    {{/if}}
  </div>
</template>
