<template name="notifications">
  <div class="notificationContainer">
    <br>
    {{#each notification}}
    <div class="panel panel-default">
        <div class="panel-heading">
          <h5>You got a friend request from <strong><span class="name">{{userName}}</span></strong></h5>
          {{#if wasFriend}}
            <button class='btn btn-default notificationButton btn-sm' id='acceptRequest'>Accept</button>
            <button class='btn btn-default notificationButton btn-sm' id='rejectRequest'>Decline</button>
            {{else}}
            <p style='color:grey'>Friends</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</template>
