<template name="profileInfo">
  <div class="infoContainer">
    <ul class="nav nav-pills tab-pills">
     <li class="active"><a data-toggle="pill" href="#home">Info</a></li>
     <li><a data-toggle="pill" href="#friends">Friends</a></li>
     <li><a data-toggle="pill" href="#notifications">Notifications</a></li>
   </ul>

 <div class="tab-content">
   <div id="home" class="tab-pane fade in active">
     <h3>Info</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
   <div id="friends" class="tab-pane fade">
     {{> friends}}
   </div>
   <div id="notifications" class="tab-pane fade">
     {{> notifications}}
   </div>
 </div>
  </div>
</template>
