<template name='profile'>
  <nav class='navbar navbar-default'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a href={{pathFor 'home'}} class="navbar-brand">Community Chat</a>
      </div>
      <ul class='nav navbar-nav navbar-left'>
        {{#if currentUser}}
         {{#with uniqueId}}
         <li><a href={{pathFor 'feed'}}>Feed</a></li>
         {{/with}}
         {{#if isInRole 'admin'}}
          <li><a href={{pathFor 'dashboard'}}>Dashboard</a></li>
         {{/if}}
         <li><a href='#' id='profileloggedOut'>Log Out</a></li>
         {{else}}
         <li><a href={{pathFor 'register'}}>Register</a></li>
         <li><a href={{pathFor 'login'}}>SignIn</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h4>Welcome <span class="profileName">{{username}}</span></h4>
      {{#if profileUser}}
        {{#if sentRequest}}
          <!-- {{#if areFriends}} -->
            <button type="button" class="btn btn-default btn-sm {{disabled}}" id='addFriend'>Send Friend Request</button>
          <!-- {{/if}} -->
          {{else}}
          <p>You are friends</p>
        {{/if}}
      {{/if}}
    </div>
    <div class="profieBox">
      <div class="row">
        <div class="col-lg-9">
          {{> profileInfo}}
        </div>
        <div class="col-lg-3">
          <h5 class="userFeed">Feeds</h5>
          {{#each userFeeds}}
            <h6>{{feed}}</h6>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
