<template name="register">
    <div class="container">
      <div class="registerForm">
        <div class="input-group ">
          <input type="text" class="form-control registerField" placeholder="username" id='username'>
        </div>
        <div class="input-group">
          <input type="email" class="form-control registerField" placeholder="email" id='email'>
        </div>
        <div class="input-group">
          <input type="password" class="form-control registerField" placeholder="password" id='password'>
        </div>
        <div class="input-group">
          <button class='btn btn-sm' id='register'>Regsiter</button>
        </div>
      </div>
    </div>
</template>
