<template name="register">
    <div class="container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="username" id='username'>
      </div>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="email" id='email'>
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="password" id='password'>
      </div>
      <div class="input-group">
        <button class='btn btn-sm' id='register'>Regsiter</button>
      </div>
    </div>
</template>
